.container{
    background-color: white;
}
.display-4{
    background-color: black;
    color:  white;
    font-weight: bold;
    text-align: center;
    margin: -15px;
}
.jumbotron{
    background-color: black;
}
.lead{
    background-color: black;
    color:  white;
    text-align: center;
    font-weight: bold;
    margin: -15px;
}
.header-small{
    background-color: grey;
    color:  black;
    text-underline-position: below;
    font-weight: bold;
    padding: 10px;
}